{% extends "site_base.html" %}
{% load staticfiles %}
{% block nav_home %} class="active" {% endblock %}

{% block body_context %}
<div class = "custom-well" style="margin-top: 40px;">
  <div class="well">
  	<h4 style="font-weight:bold;">Summary of Current Position</h4>
  	<p style="text-indent: 5em;">
  		I currently support design and development projects transition to production as the lead stress analyst for all commerical structures produced at the Boeing center for advanced developmental composites
  	</p>
  	<h4 style="font-weight:bold;">Summary of Qualifications</h4>
  	<ul>
	<li>Lead level three airframe structures analysis engineer with an emphasis in laminated wing and control surface structures with an extensive composite fabrication and assembly background.</li>
	<li>Two years of composite structures static analysis experience with experience in damage tolerance and repair analysis concerning real time production and fleet support issues</li>
	<li>Five years of carbon composite manufacturing and assembly for aerospace structures</li>
	<li>Five years of metallic structures (static, fatigue and damage tolerance) analysis in the manufacturing arena</li>
	<li>A proven ability to learn, adapt and forecast in order to efficiently succeed in an ever changing and challenging environment</li>
	</ul>

	<h4 style="font-weight:bold;">Work Experience</h4>
	<ul>
	<p style="font-style:italic">
		Boeing Company, Seattle, WA -- 2012 to Present<br>
		Airframe Structures Analysis Engineer
	</p>
	<ul>
	<li>Finite element and hand calculated stress analysis of composite and metallic structures for design, development and repair</li>
	<li>Currently work as the lead of a team of two to forecast and support airframe development</li>
	<li>I developed and am leading a software design team to study, create, release and educate the engineering community on newly developed analysis tools to increase productivity and decrease costly mathematics errors in analysis</li>
	</ul>
	</ul>
	<ul>
	<p style="font-style:italic">
		Boeing Company, Everett, WA	-- 2008 to 2012<br>
		Product Review Engineer
	</p>
	<ul>
		<li>Fabrication and assembly integration into the Boeing production system for composite structures</li>
		<li>Developed fabrication repairs and improvements to both increase rate and produce a more consistently safe product, while automating the monitor and tracking of any gain while targeting further improvement opportunities</li>
	</ul>
	</ul>

	<ul>
	<p style="font-style:italic">
		D3 Engineering Technologies	-- 2007 to 2008<br>
		Manufacturing Support Engineer
	</p>
	<ul>
		<li>Developed and wrote composite assembly documentation for airframe assembly</li>
		<li>Forcasted and modified installation requirements to mitigate production costs</li>
		<li>Fabrication and assembly integration into the Boeing production system for composite structures</li>
	</ul>
	</ul>

	<h4 style="font-weight:bold;">Special Projects and Programs</h4>
	<ul>
	<p>Composite Structures Information Team -- 2010</p>
	<ul>
	<li>It was realized that many of the support engineering and manufacturing personnel at the company were not highly educated on the differences in metallic and composite manufacturing and assembly techniques in the aerospace industry. I developed, wrote and presented a series of classes to better educate 20,000+ engineering and manufacturing support personnel on the particular differences in dealing with composite materials.</li>
	</ul>
	</ul>


	<h4 style="font-weight:bold;">Education</h4>
	<ul>
	<p>University of Washington Engineering</p>
	<ul>
	<li>Composite Structural Design and Analysis -- May 2012</li>
	<li>Computer Science -- May 2013</li>
	<ul>
	<li>Object oriented software development</li>
	</ul></ul>
	</ul>
	<ul>
	<p>University of Minnesota Engineering</p>
	<ul>
	<li>B.S. Aerospace Engineering Mechanics -- May 2007</li>
	<li>Minor: Astrophysics</li>
	</ul></ul>

	<h4 style="font-weight:bold;">Computer Skills</h4>
	<ul>
	<li>Programming: 	C, C#, JavaScript, Perl, Python(2.x & 3.x),  SQL, VB</li>
	<li>Engineering Software: Patran, NASTRAN, Abaqus, Catia, Solidworks, AutoCAD</li>
	<li>Platforms: Android , MacOS, Linux, Unix, Windows</li>


  </div>
 </div>
{% endblock %}